


<div class="m-t-1 m-b-1">
  <input class="form-control inputsize" #todoText [value]="selected?.Name" />
  <button class="button button2" type="submit" (click)="editItem(todoText.value)" >Apply Edit</button>
  <button class="button button2" type="submit" (click)="deleteItem()">Delete</button>
</div>
<br/>
  <ul class="heroes">
    <li *ngFor="let todo of items; let i = index">
      <span class="badge">
        <input type="radio" name="todoItem" [value]="todo.Name"
               (change)="changeButton(todo)"> {{todo.Name}}
      </span>
    </li>
  </ul>
